<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>yasai (ブラウザで近デジ読めるやつ)</title>
  </head>
  <body>
    <h1>yasai (ブラウザで近デジ読めるやつ)</h1>
    <p>
      近代デジタルライブラリーの本を余白の少し少ない状態で読めます．
      <br>
      まず，<a href="http://autopagerize.net/">AutoPagerize</a>をインストールしてください．
      <br/>
      読みたい本があれば，<a href="https://github.com/hitode909/kindairb">近代デジタルライブラリーダウンローダー</a>で本をダウンロードしてください．ダウンロードして，しばらくすると，ここに登録されて読めるようになります．
    </p>
    <h2>設定</h2>
    <a id="setting" href="/setting">設定</a>
    <h2>本</h2>
    <div>
      <% @books.each do |book| %>
      <div>
        <a href="<%=h book.read_path %>">
          <%=h book.author %> - <%=h book.title %>
        </a>
        (<a href="<%=h book.original_permalink %>">original</a>)
      </div>
      <% end %>
    </div>
    <h2>連絡先</h2>
    <a href="https://github.com/hitode909/">https://github.com/hitode909/</a>
  </body>
</html>
