<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>reader</title>
  </head>
  <body>
    <div>
      <% @books.each do |book| %>
      <div>
        <a href="<%=h book.read_path %>">
          <%=h book.author %> - <%=h book.title %>
        </a>
      </div>
      <% end %>
    </div>
  </body>
</html>
