<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>yasai (ブラウザで近デジ読めるやつ)</title>
    <style>
      body {
      font-size: 2em;
      }
    </style>
  </head>
  <body>
    <h1>yasai</h1>
    <p>
      近代デジタルライブラリーの本を読めます．
      <br>
      <a href="http://autopagerize.net/">AutoPagerize</a>をインストールすると快適に読めます．
      <br/>
      <a href="https://github.com/hitode909/kindairb">近代デジタルライブラリーダウンローダー</a>で本をダウンロードすると，ここに登録されて読めるようになります．反映には時間がかかります．
    </p>
    <h2>設定</h2>
    <a id="setting" href="/setting">設定</a>
    <h2>本</h2>
    <div>
      <% @books.each do |book| %>
      <div>
        <a href="<%=h book.read_path %>">
          <%=h book.author %> - <%=h book.title %>
        </a>
        (<a href="<%=h book.original_permalink %>">original</a>)
      </div>
      <% end %>
    </div>
  </body>
</html>
