<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="/js/jquery-1.6.4.js">
    </script>
    <script src="/js/reader-touch.js">
    </script>
    <link rel="stylesheet" href="/css/reader-touch.css" type="text/css" media="all">
    <title>yasai (ブラウザで近デジ読めるやつ)</title>
  </head>
  <body data-book-id="889426">
    <div id="stage">
    </div>
    <div id="caches">
    </div>
  </body>
</html>
