<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      yasai - 設定
    </title>
    <style>
      body {
      font-size: 2em;
      }
    </style>
  </head>
  <body>
    <a href="/">戻る</a>
    <h1>設定</h1>
    <h2>画像の横幅</h2>
    <form method="post" action="/setting">
      <div>
        <label>
          <input type="radio" name="width" value="1280" <% if @width == 1280 %>checked<% end %> />
          1280
        </label>
        <br/>
        <label>
          <input type="radio" name="width" value="1440" <% if @width == 1440 %>checked<% end %> />
          1440
        </label>
        <br/>
        <label>
          <input type="radio" name="width" value="1680" <% if @width == 1680 %>checked<% end %> />
          1680
        </label>
        <br/>
        <label>
          <input type="radio" name="width" value="1920" <% if @width == 1920 %>checked<% end %> />
          1920
        </label>
        <br/>
        <label>
          <input type="radio" name="width" value="2560" <% if @width == 2560 %>checked<% end %> />
          2560
        </label>
      </div>
      <input type="submit" value="決定"/>
    </form>
    <h2>手動設定</h2>
    <div>
      <form method="post" action="/setting">
        <label>
          横幅
          <input type="number" name="width" value="<%=h @width %>" required/>
        </label>
        <input type="submit" value="決定"/>
      </form>
    </div>
  </body>
</html>
