#stage {
    width: 640px;
    height: 960px;
    position: relative;
    overflow: hidden;
}
#stage img {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
#caches {
    display: none;
}